:root{

    /* Primary */
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: hsl(37, 97%, 70%), hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);

    /* DarkTheme */
    --Toogle : hsl(210, 78%, 56%), hsl(146, 68%, 55%);

    --Background: hsl(230, 17%, 14%);
    --BackgroundTop: hsl(232, 19%, 15%);
    --BackgroundCard: hsl(228, 28%, 20%);
    --Small-Text: hsl(228, 34%, 66%);
    --White-Text: hsl(0, 0%, 100%);
    --HoverCard: hsl(229, 28%, 29%);

    /* LightTeme */
    /* --Toogle: hsl(230, 22%, 74%);

    --WhiteBG: hsl(0, 0%, 100%);
    --Very-Pale-BlueTopBGPattern: hsl(225, 100%, 98%);
    --Light-Grayish-BlueCardBG: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%); */
    /* --Hover:hsl(229, 9%, 75%); */
}



